<p>Bonjour <%= @user.name %>,</p>

<p>Vous venez de vous abonner au <%= @user.subscription.name %>.</p>
<p>Vous recevrez chaque semaine <%= @user.subscription.number_of_packs_per_week %> types de pâtes fraîches</p>

<p>See ya!</p>
