<h1> Historique de vos commandes: </h1>

<ul>
<% @orders.each do |order| %>
  <li>
    <% order.noodle_orders.each do |noodleorder|%>
      <%= noodleorder.noodle.name %>
    <% end %>
  </li>
<% end %>
</ul>
