<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<%= simple_form_for @noodleorder do |f| %>
  <%= f.input :noodle_id, collection: @pastas  %>
  <%= f.submit "M'abonner", class: "btn btn-primary" %>
<% end %>
