<h1>Orders#new</h1>

<%= simple_form_for @noodleorder do |f| %>
  <%= f.input :noodle_id, collection: @pastas, as: :check_boxes  %>
  <%= f.submit "Passer commande", class: "btn btn-primary" %>
<% end %>

